dataset/
dataset_real/
dataset_real1/
dataset_real2/
dataset_debug/
dataset_training/
dataset_training_real/
dataset_training_real1/
dataset_training_real2/
dataset_validation/
dataset_validation_real/
dataset_validation_real1
dataset_validation_real2/
dronesound_debug/
plots_left_right_snippets_el0_bin/
plots_left_right_snippets_el0_bin_real/
plots_left_right_snippets_el0_bin_real1/